*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0e8ff;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #fff;
    width: 90vw;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 20px;
}

h1{
    background-color: #1b1096;
    width: 100%;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 20px 10px;
}

.input-section{
    width: 70%;
}

.input-slider{
    width: 100%;
    margin-top: 5px;
}

.output-section{
    margin-top: 20px;
}

.output-bmi{
    padding: 10px 5px;
    background-color: #1b1096;
    color: #fff;
    border-radius: 24px;
    margin-top: 10px;
}

.bmi-message {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
}
